body {
    background-color: black;
    color: white;
}

th, td {
    text-align: left;
    padding-right: 10px;
}

.highlight {
    background-color: blue;
    color: white;
}

.even {
    color: white;
}

.odd {
    color: lightgoldenrodyellow;
}

.clickable {
    color: yellow;
    cursor: pointer;
}

.popcorn {
    padding-left: 10px;
}

tr > td:first-child {
    white-space: nowrap;
    vertical-align: top;
}

#container {
    display: flex;
    height: 100%;
}

html, body {
    width: calc(100% - 8px);
    height: calc(100% - 8px);
    overflow: hidden;
}

#mainTable {
    overflow-y: auto;
    flex: 0 0 auto;
}

#mainTable th {
    cursor: pointer;
    font-size: x-large;
    color: antiquewhite;
}

.pointer {
    cursor: pointer;
}

#infoTable {
    padding-left: 5px;
    width: 100%;
}

#infoTable th {
    font-size: x-large;
    color: antiquewhite;
}

#photos {
    display: grid;
    gap: 8px; /* Space between images */
    overflow-y: auto; /* Enable vertical scrolling if needed */
    padding-right: 2px;
    max-height: 100vh; /* Prevents excessive height overflow */
}

#photos img {
    width: 100%;
    height: auto; /* Maintain aspect ratio */
    border: 1px solid white;
}

#photos:has(img:nth-child(2)) {
    grid-template-columns: repeat(2, 1fr); /* 2 columns */
}

#focusHelper {
    position: absolute;
    left: -9999px;
}

#version {
    position: absolute;
    top: 5px;
    right: 5px;
    font-size: small;
    color: bisque;
}